.content-login {
  position: relative;
  flex: 1;

  .btn-noticias {
    position: absolute;
    padding: 10px;
    right: 60px;
    top: 40px;
    z-index: 10;

    span {
      display: inline-block;
      height: 20px;
      margin-left: 5px;
      padding: 3px 5px;
      background-color: #fff;
      color:#004BCB;
      font-weight: bold;
      line-height: 1;
    }
  }
}

.login-box {
  max-width: 450px;
  padding: 20px 30px;
  margin: 50px auto 30px auto;
  border: 2px solid #ddd;
  border-radius: 6px;
  background-color: #e8e9e4;

  .mat-form-field {
    position: relative;
    width: 100%;
    max-width: 320px;
  }

  .form-line {
    position: relative;
    display: flex;
    justify-content: center;
    justify-items: center;

    .info-btn {
      position: absolute;
      top: 15%;
      right: -10px;

      .mat-icon {
        font-size: 18px;
      }
    }

    .mat-icon {
      color: #004BCB;
    }
  }

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0 30px 0;

    img {
      width: 60%;
    }
  }
}

.text-center {
  text-align: center;
  justify-content: center;
}
